<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<section layout:fragment="content">
<div class="container">
    <p class="text-center mb-5">進行中の朝活</p>
    <h2 th:text="${message}"></h2>
    <div th:each="task:${tasklist}" th:object="${task}">
        <span>朝活内容：</span><p th:text="*{task}"></p>
        <div>
            <input type="file" placeholder="記録となる写真" class="mb-3">
            <input type="text" placeholder="詳細を記録しよう">      
        </div>
    </div>
    <br>
</div>
</section>
</html>