<!DOCTYPE html>
<html lang="ja"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<section layout:fragment="content">
    <h1>記録</h1>
    <div>
        <form th:action="@{/tasks/record/sort}" method="post">
            <select name="isDone" id="taskstatus">
                <option value="true">達成済み</option>
                <option value="false">未達成</option>
            </select>
            <button type="submit">選択</button>
        </form>
    </div>
    <br>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>日付</th>
                    <th>タイトル</th>
                    <th>ジャンル</th>
                    <th>詳細</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="task:${tasklist}" th:object="${task}">
                    <td th:text="*{scheduledDate}"></td>
                    <td th:text="*{task}"></td>
                    <td th:text="*{label}"></td>
                    <td><a th:href="@{/tasks/{id}(id=*{id})}">詳細を見る</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</section>
</html>
